---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Calendar from "@/components/Calendar";
import { paths } from "@/utils/findPathByType";

export const getStaticPaths = () => {
  return paths.events?.path
    ? [
        {
          params: {
            events: paths.events.path,
          },
        },
      ]
    : [];
};
---

<BaseLayout pageTitle={paths.events?.label || "Events"}>
  <main class="layout-base py-8">
    <div>
      <Calendar client:load />
    </div>
  </main>
</BaseLayout>
