---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("pages", ({ data, filePath }) => {
    return (
      data.type === undefined && !filePath?.toLowerCase().endsWith("index.md")
    );
  });
  return pages.map((page) => ({
    params: { pages: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout pageTitle={page.data.title}>
  <main class="layout-base min-h-120 justify-items-center py-8">
    <div
      class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground lg:max-w-[80ch]"
    >
      <Content />
    </div>
  </main>
</BaseLayout>
